include ../admin-search/admin-search

mixin admin-title(title, search)
  .admin-title.admin-container
    .admin-title__main
      h3.admin-title__title= title
      h6.admin-title__subtitle Lorem ipsum dolor
    if (search)
      .admin-title__search
        +admin-search("Search in list..")
