include ../admin-search/admin-search

mixin admin-breadcrumb(...list)
  .breadcrumb-wrap
    ul.breadcrumb
      each item, index in list
        if (index === list.length - 1)
          li.breadcrumb__item.breadcrumb__item--last
            span.breadcrumb__text= item
        else
          li.breadcrumb__item
            a.breadcrumb__link(href="#!")= item
    .breadcrumb__widget
      +admin-search('Search project')
      span.sidebar-btn.js-sidebar-btn
        i.fa.fa-bars
