mixin contact-list
  ul.contact-list
    li.contact-list__item
      .contact-list__imgwrap
        img.contact-list__img(src="images/icon-clock.png", alt="")
      .contact-list__info
        h6.contact-list__heading TIMING
        p.contact-list__text 10 Am to 7 Pm
    li.contact-list__item
      .contact-list__imgwrap
        img.contact-list__img(src="images/icon-map-marker.png", alt="")
      .contact-list__info
        h6.contact-list__heading LOCATION
        p.contact-list__text 3D Trần Phú St, Ward 4 District 5, HCMC
    li.contact-list__item
      .contact-list__imgwrap
        img.contact-list__img(src="images/icon-phone.png", alt="")
      .contact-list__info
        h6.contact-list__heading TIMING
        p.contact-list__text +65 6225 2028
        p.contact-list__text (028)38335515
    li.contact-list__item
      .contact-list__imgwrap
        img.contact-list__img(src="images/icon-mail.png", alt="")
      .contact-list__info
        h6.contact-list__heading E MAIL
        p.contact-list__text enquiri@adcourant.com
