mixin admin-sidebar
  .sidebar
    img.sidebar__logo(src="../images/logo-admin.png", alt="Logo")
    p.sidebar__heading Dashboard
    ul.sidebar__content
      li.sidebar__list
        a.sidebar__link
          i.sidebar__icon.fa.fa-globe
          | Managa All
      li.sidebar__list.js-sidebar-list
        a.sidebar__link
          i.sidebar__icon.fa.fa-plus-circle
          | Add New
          i.sidebar__icon.sidebar__icon--right.fa.fa-sort-desc
        ul.sidebar__small-menu.js-sidebar__small-menu
          each item in [1, 2, 3]
            li.sidebar__list.sidebar__list--child
              a.sidebar__link Add new title
      li.sidebar__list
        a.sidebar__link
          i.sidebar__icon.fa.fa-pencil-square-o
          | Add Invoices
      li.sidebar__list
        a.sidebar__link
          i.sidebar__icon.fa.fa-youtube-play
          | Add Video
      li.sidebar__list
        a.sidebar__link
          i.sidebar__icon.fa.fa-newspaper-o
          | Add News
      li.sidebar__list
        a.sidebar__link
          i.sidebar__icon.fa.fa-life-ring
          | Add Support
    .sidebar__admin
      img.sidebar__avatar(src="../images/avatar-admin.png", alt="Avatar")
      .sidebar__admin-wrap
        p.sidebar__name Jean Reyes
        p.sidebar__online
          i.sidebar__icon--online.fa.fa-circle
          | online
