mixin offering
  article.offering
    .row
      .col-md-7
        img.offering__img(src="images/key-offering.png", alt="")
      .col-md-5
        .offering__body
          h1.offering__title Lorem ipsum dorlor
          p.offering__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enimad minim veniam. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam consectetur adipiscing elit...
          a.button.button--blue(href="#!")
            i.fa.fa-steam.button__icon
            | BUTTON
