.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  min-height: 100vh;
  background-color: $blue-darkest;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  transition: left .3s linear;
  overflow-y: auto;
  overflow-x: hidden;
  &__heading {
    font-family: $roboto;
    color: $white-darkest;
    padding: 0 16px;
    margin-bottom: 9px;
  }
  @include respond-to('tablet-and-down') {
    left: -200px;
    &.active {
      left: 0;
    }
  }
}
.sidebar-logo {
  padding: 21px 35px;
  &__img {
    width: 100%;
  }
}
.sidebar-menu {
  &__link {
    display: block;
    padding: 9px 14px;
    color: $white;
    font-family: $roboto;
    font-size: 14px;
    &:hover {
      color: $white;
    }
    &--caret {
      position: relative;
      &::after {
        content: '\f0d7';
        font-family: 'FontAwesome';
        font-size: 14px;
        position: absolute;
        right: 15px;
        top: 10px;
      }
    }
  }
  &__icon {
    margin-right: 16px;
  }
}
.sidebar-submenu {
  display: none;
  margin-top: -5px;
  background-color: $blue-darkests;
  &__link {
    display: block;
    font-size: 16px;
    color: $white-darkest;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 15px 5px 44px;
    &:hover {
      color: $white-darkest;
    }
  }
}
.sidebar-user {
  display: flex;
  margin-top: auto;
  border: 1px solid $blue-lightest;
  border-bottom: 0;
  padding: 13px 16px 8px;
  &__img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 14px;
  }
  &__name {
    font-family: $roboto;
    font-size: 13px;
    color: $white;
    margin-bottom: 1px;
  }
  &__state {
    font-size: 12px;
    color: $white-darkest;
    margin-bottom: 0;
    &::before {
      content: '';
      display: inline-block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      margin-right: 7px;
      position: relative;
      top: 1px;
    }
    &.online::before {
      background-color: $green;
    }
    &.offline::before {
      background-color: $red;
    }
  }
}
