.footer {
  background-color: $white-smoke;
  padding-top: 60px;
  word-break: break-word;
  &__widget {
    margin-bottom: 64px;
  }
  &__logo {
    display: inline-block;
    height: 64px;
    border: 1px solid $blue;
    margin-bottom: 27px;
  }
  &__logoimg {
    height: 100%;
    width: auto;
  }
  &__intro {
    font-family: $calibri;
    font-size: 16px;
    line-height: 37px;
    color: $gray-text;
    margin-bottom: 26px;
  }
  &__heading {
    font-family: $montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 37px;
    margin-bottom: 12px;
  }
}
.sublist {
  &__link {
    font-family: $calibri;
    font-size: 16px;
    line-height: 37px;
    color: $gray-text;
    &:hover {
      color: $gray-900;
      text-decoration: underline;
    }
  }
}
.copyright {
  font-family: $montserrat;
  font-size: 11px;
  color: $white;
  text-align: center;
  line-height: 30px;
  padding: 15px;
  background-color: $blue-darker;
}
