.admin-layout {
  background-color: $white-darkest;
}
.admin-body {
  min-height: 100vh;
  margin-left: 200px;
  transition: margin-left .3s linear;
  @include respond-to('tablet-and-down') {
    margin-left: 0;
    &.active {
      margin-left: 200px;
    }
  }
  @include respond-to('phone-and-down') {
    &.active {
      margin-left: 0;
    }
  }
}
