$blue-white: #e8f1fb;
$blue-lightest-border: #384756;
$blue-lightest: #0cc2aa;
$blue-lighten: #5bc0de;
$blue-lighter: #1973d7;
$blue-light: #234883;
$blue: #1951ae;
$blue-darker: #051d46;
$blue-darkest: #2e3e4e;
$blue-darkests: #2b3a49;
$blue-sky: #2abba8;
$blue-sky-darker: #26a695;
$green: #539071;
$green-lighter: #0cc2aa;
$white-smoke: #fafafa;
$white-darker: #f2f2f2;
$white-darkest: #f0f0f0;
$gray-border: #e6e6e6;
$gray: #7a7a7a;
$gray-dark: #505050;
$gray-text: #919191;
$gray-darker: #434343;
$gray-darkers: #4d4d4d;
$black-opacity-15: rgba(0,0,0,0.15);
$black-opacity-2: rgba(0,0,0,0.2);
$black-opacity-5: rgba(0,0,0,0.5);
$violet: #a68ed1;
$red-lighter: #f44455;
$black-lighter: #212121;
