$blue-white: #e8f1fb;
$blue-lightest: #0cc2aa;
$blue-lighter: #1973d7;
$blue-light: #234883;
$blue: #1951ae;
$blue-lightest: #364554;
$blue-darker: #051d46;
$blue-darkest: #2e3e4e;
$blue-darkests: #2b3a49;
$green: #539071;
$gray-border: #e6e6e6;
$white-smoke: #fafafa;
$white-darker: #f2f2f2;
$gray-text: #919191;
$gray-darker: #434343;
$gray-darkers: #4d4d4d;
$black-opacity-2: rgba(0,0,0,0.2);
$black-opacity-5: rgba(0,0,0,0.5);
$violet: #a68ed1;
$red-lighter: #f44455;
