mixin admin-count
  .count
    .row
      .col-sm-6.col-md-3
        .count__wrap
          .count__element
            i.count__icon.count__icon--pink.fa.fa-align-left
          .count__element
            p.count__text Courses
            h5.count__number.js-count-number(data-from="0" data-to="7530" data-speed="5000" data-refresh-interval="100" waypoint-active="yes")
      .col-sm-6.col-md-3
        .count__wrap
          .count__element
            i.count__icon.count__icon--blue.fa.fa-users
          .count__element
            p.count__text Members
            h5.count__number.js-count-number(data-from="0" data-to="7350" data-speed="5000" data-refresh-interval="100" waypoint-active="yes")
      .col-sm-6.col-md-3
        .count__wrap
          .count__element
            i.count__icon.count__icon--green.fa.fa-video-camera
          .count__element
            p.count__text Videos
            h5.count__number.js-count-number(data-from="0" data-to="750" data-speed="5000" data-refresh-interval="100" waypoint-active="yes")
      .col-sm-6.col-md-3
        .count__wrap
          .count__element
            i.count__icon.count__icon--violet.fa.fa-empire
          .count__element
            p.count__text Orders
            h5.count__number.js-count-number(data-from="0" data-to="1350" data-speed="5000" data-refresh-interval="100" waypoint-active="yes")
