mixin social
  ul.social
    li.social__item
      a.social__link(href="#!")
        i.fa.fa-facebook.social__icon
    li.social__item
      a.social__link(href="#!")
        i.fa.fa-twitter.social__icon
    li.social__item
      a.social__link(href="#!")
        i.fa.fa-play.social__icon
    li.social__item
      a.social__link(href="#!")
        i.fa.fa-google-plus.social__icon
    li.social__item
      a.social__link(href="#!")
        i.fa.fa-vimeo.social__icon
