mixin task
  article.task
    h3.task__title Lorem ipsum dolor sit amet
    .task__infowrap
      span.task__info
        i.fa.fa-calendar-check-o.task__icon
        | 21/01/2018
      span.task__info
        i.fa.fa-user-o.task__icon
        | Donald Trump
    p.task__text Lorem ipsum dolor sit amet, consectetur  adipiscing elit. In eleifend ma gna nec volutpat faucibus. Cras cursus mauris vitae eros volutpat, Cras cursus mauris vitae eros volutpat... Lorem ipsum dolor sit amet, consectetur  adipiscing elit. In eleifend ma gna nec volutpat faucibus. Cras cursus mauris vitae eros volutpat, Cras cursus mauris vitae eros volutpat...
    .task__btnwrap
      a.button.button--blue.task__btn(href="#!")
        i.fa.fa-yelp.button__icon
        | CLOSE TASK
