mixin admin-sidebar
  .sidebar.js-sidebar
    .sidebar-logo
      img.sidebar-logo__img(src="images/logo-admin.png", alt="Logo")
    h6.sidebar__heading Dashboard
    ul.sidebar-menu
      li
        a.sidebar-menu__link(href="#!")
          i.sidebar-menu__icon.fa.fa-globe
          | Managa All
      li.js-sidebar-toggle
        a.sidebar-menu__link.sidebar-menu__link--caret(href="#!")
          i.sidebar-menu__icon.fa.fa-plus-circle
          | Add New
        ul.sidebar-submenu.js-sidebar-dropdown
          each item in [1, 2, 3]
            li
              a.sidebar-submenu__link(href="#!") Add new title
      li.js-sidebar-toggle
        a.sidebar-menu__link.sidebar-menu__link--caret(href="#!")
          i.sidebar-menu__icon.fa.fa-pencil-square-o
          | Add Invoices
        ul.sidebar-submenu.js-sidebar-dropdown
          each item in [1, 2, 3]
            li
              a.sidebar-submenu__link(href="#!") Add new title
      li
        a.sidebar-menu__link(href="#!")
          i.sidebar-menu__icon.fa.fa-youtube-play
          | Add Video
      li
        a.sidebar-menu__link(href="#!")
          i.sidebar-menu__icon.fa.fa-newspaper-o
          | Add News
      li
        a.sidebar-menu__link(href="#!")
          i.sidebar-menu__icon.fa.fa-life-ring
          | Add Support
    .sidebar-user
      img.sidebar-user__img(src="../images/avatar-admin.png", alt="Avatar")
      .sidebar-user__body
        h6.sidebar-user__name Jean Reyes
        p.sidebar-user__state.online online
