mixin popup-video
  dialog.popup-video.js-popup-video
    .popup-video__wrap
      iframe.popup-video__video.js-popup-video-src(frameborder="0", allow="autoplay; encrypted-media", allowfullscreen)
      button.popup-video__close.js-popup-video-close
        i.fa.fa-times
