.profile {
  padding: 115px 0 60px;
}
.profile-info {
  margin-bottom: 60px;
  &__inner {
    max-width: 294px;
  }
}
.profile-form {
  margin-bottom: 60px;
  &__group {
    margin-bottom: 65px;
  }
  &__btnwrap {
    margin-top: 160px;
  }
}
