.count {
  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid 1px $gray-border;
    background-color: $white;
    padding: 25px 0;
    @include respond-to('phone-and-down') {
      margin: 15px 0;
    }
  }
  &__element {
    margin: 0 10px;
  }
  &__icon {
    font-size: 32px;
    &--pink {
      color: $red-lighter;
    }
    &--blue {
      color: $blue-light;
    }
    &--green {
      color: $green;
    }
    &--violet {
      color: $violet;
    }
  }
  &__text {
    font-size: 14px;
    color: $gray;
    font-weight: 300;
    margin-bottom: 0;
  }
  &__number {
    font-size: 20px;
    color: $black-lighter;
    font-weight: 700;
  }
}
