.breadcrumb-wrap {
  display: flex;
  flex-flow: row wrap;
  padding: 16px 25px;
  border-bottom: 1px solid $gray-border;
  background-color: $white;
  @include respond-to('phone-and-down') {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  @include clearfix;
  &__item {
    float: left;
    padding: 8px 0;
    margin-right: 22px;
    &::after {
      content: '\f054';
      font-family: 'FontAwesome';
      font-size: 10px;
      color: $gray-dark;
      margin-left: 22px;
    }
    &--last {
      margin-right: 0;
      &::after {
        content: '';
        display: none;
        margin-left: 0;
      }
    }
  }
  &__link,
  &__text {
    font-family: $roboto;
    font-size: 14px;
    color: $gray-dark;
  }
  &__link:hover {
    text-decoration: underline;
  }
  &__widget {
    display: flex;
    margin-left: auto;
    max-width: 100%;
  }
}
.sidebar-btn {
  display: none;
  @include respond-to('tablet-and-down') {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: $gray;
    border: 1px solid $gray-border;
    border-radius: 4px;
    margin-left: 15px;
    cursor: pointer;
  }
}
