.admin-title {
  display: flex;
  font-family: $roboto;
  font-weight: 300;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $white;
  @include respond-to('phone-and-down') {
    flex-wrap: wrap;
  }
  &__title {
    font-size: 24px;
    color: $black-lighter;
    margin-bottom: 3px;
  }
  &__subtitle {
    font-size: 12px;
    color: $gray;
  }
  &__search {
    margin-left: auto;
    @include respond-to('phone-and-down') {
      width: 100%;
      margin-top: 10px;
    }
  }
  .admin-search {
    @include respond-to('phone-and-down') {
      width: auto;
    }
  }
}
