.heading {
  font-family: $hind;
  font-weight: 600;
  font-size: 30px;
  color: $gray-darker;
  padding-bottom: 4px;
  margin-bottom: 60px;
  position: relative;
  &::after {
    content: '';
    width: 80px;
    height: 3px;
    background-color: $blue-lighter;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
