.paging-wrap {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 23px;
  position: relative;
  &::after {
    content: '';
    width: 80px;
    height: 3px;
    background-color: $blue;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
.paging {
  margin-right: -10px;
  @include clearfix;
  &__item {
    float: left;
    padding: 0 10px;
  }
  &__link {
    font-family: $calibri;
    font-size: 16px;
    border-color: $blue;
    border-radius: 4px;
    padding: 9px 15px;
    &:hover {
      border: 1px solid $blue;
    }
  }
}
