mixin admin-signin
  .admin-user
    .admin-user__wrap
      a.admin-user__logo(href="")
        img.admin-user__image(src="../../images/logo-admin.png", alt="")
      .admin-user__main
        p.admin-user__text Sign in with your Adcourant Account
        .admin-user__form
          input.admin-user__form-item.admin-user__input(type="text" placeholder="Email")
          input.admin-user__form-item.admin-user__input.admin-user__input--password(type="password" placeholder="Password")
          label.admin-user__form-item.admin-user__label.js-label
            input.admin-user__checkbox(type="checkbox")
            | Keep me signed in
          button.admin-user__form-item.admin-user__button.admin-button Signin
      .admin-user__forgot
        a.admin-user__link(href="") Forgot Password?
        p.admin-user__text.admin-user__text--account
          | Do not have an Account?
          a.admin-user__link(href="") Signup
