include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/social/social
include modules/contact-list/contact-list
include modules/popup/popup

doctype html
html
  +head(head.home)
  body
    +header(data.about)
    main.about
      section.about__inner
        .container
          h1.heading LOREM IPSUM DOR
          .row
            .col-md-7
              article.about-video
                a.about-video__video.js-video-link(href="#!", data-url="https://www.youtube.com/embed/2qEOLdii3B4?rel=0")
                  img.about-video__img(src="images/video.jpg", alt="")
            .col-md-5
              section.about-content
                .about-logo
                  img.about-logo__img(src="images/logo.png", alt="logo")
                p.about-content__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                +social
          +popup-video
      section.about-contact
        .container
          +contact-list
      section.about-map
        <iframe class="about-map__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15955.228166563333!2d103.84991264890863!3d1.2900474192656455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da19a747de0c15%3A0xe5639e25fabece80!2sNational+Gallery+Singapore!5e0!3m2!1sen!2s!4v1516865587668" frameborder="0" style="border:0" allowfullscreen></iframe>
    +footer(data)
    script(src="js/main.js")
