include modules/head/head
include modules/admin-sidebar/admin-sidebar
include modules/admin-breadcrumb/admin-breadcrumb
include modules/admin-title/admin-title
include modules/pagination/pagination

doctype html
html
  +head(head.home)
  body
    .admin-layout.user-list
      +admin-sidebar
      .admin-body.js-admin-body
        +admin-breadcrumb('Admin', 'Users', 'All user')
        +admin-title('User Page list', true)
        form.admin-form
          .admin-form__block.admin-form__block--pd0
            table.admin-tbl
              thead.admin-tbl__thead
                tr
                  th.admin-tbl__th.admin-tbl__checkbox.user-list__checkbox #
                  th.admin-tbl__th Id
                  th.admin-tbl__th Username
                  th.admin-tbl__th Email
                  th.admin-tbl__th Phone
                  th.admin-tbl__th Action
              tbody.admin-tbl__tbody
                each item in [1, 2, 3, 4, 5]
                  tr.admin-tbl__tr
                    td.admin-tbl__td.admin.admin-tbl__checkbox.user-list__checkbox
                      input(type="checkbox")
                    td.admin-tbl__td.admin-tbl__id 1
                    td.admin-tbl__td.admin-tbl__username User Name Lorem
                    td.admin-tbl__td.admin-tbl__username username@example.com
                    td.admin-tbl__td.admin-tbl__type 0987654321
                    td.admin-tbl__td.admin-tbl__action
                      .admin-tbl__btnwrap
                        a.admin-button.admin-button--green.admin-tbl__btn(href="#!") View
                        a.admin-button.admin-button--violet.admin-tbl__btn(href="#!") Edit
                        a.admin-button.admin-button--red.admin-tbl__btn(href="#!") Delete
            +admin-pagination
    script(src="js/main.js")
