include modules/head/head

doctype html
html
  +head(head.home)
  body
    .button-page
      button.button
        i.fa.fa-plane.button__icon
        | CANCEL
      button.button.button--blue
        i.fa.fa-plane.button__icon
        | CANCEL
      button.button.button--transparent
        i.fa.fa-plane.button__icon
        | CANCEL
