include modules/head/head
include modules/admin-sidebar/admin-sidebar

doctype html
html
  +head(head.home)
  body
    +admin-sidebar
    section.body.js-body
      button.admin-button.admin-button--blue View
      button.admin-button.admin-button--violet Edit
      button.admin-button.admin-button--red Delete
    script(src="js/main.js")
