include modules/head/head
include modules/admin-sidebar/admin-sidebar
include modules/admin-breadcrumb/admin-breadcrumb
include modules/admin-title/admin-title
include modules/pagination/pagination

doctype html
html
  +head(head.home)
  body
    .admin-layout
      +admin-sidebar
      .admin-body.js-admin-body
        +admin-breadcrumb('Admin', 'Users', 'All user')
        +admin-title('Support Page list')
        form.admin-form
          .admin-form__block
            .admin-form__group.admin-form__group--mb0
              input.admin-form__select.admin-form__select--first(type="text", placeholder="Id Support...")
              input.admin-form__select(type="text", placeholder="Created date..." onfocus="(this.type='date')", onblur="(this.type='text')")
              select.admin-form__select
                option Category
                option Category 1
                option Category 2
                option Category 3
              select.admin-form__select
                option User handle
                option User handle 1
                option User handle 2
                option User handle 3
              .admin-form__btnwrap
                a.button.admin-form__btn(href="#!")
                  i.fa.fa-undo.button__icon
                  | Reset
                button.button.admin-form__btn.admin-form__btn--blue(type="submit")
                  i.fa.fa-search.button__icon
                  | Search
          .admin-form__block.admin-form__block--pd0
            table.admin-tbl
              thead.admin-tbl__thead
                tr
                  th.admin-tbl__th.admin-tbl__checkbox #
                  th.admin-tbl__th Id
                  th.admin-tbl__th Username
                  th.admin-tbl__th Category
                  th.admin-tbl__th Author
                  th.admin-tbl__th Staff
                  th.admin-tbl__th Action
              tbody.admin-tbl__tbody
                each item in [1, 2, 3, 4, 5]
                  tr.admin-tbl__tr
                    td.admin-tbl__td.admin.admin-tbl__checkbox
                      input(type="checkbox")
                    td.admin-tbl__td.admin-tbl__id 1
                    td.admin-tbl__td.admin-tbl__username User Name Lorem
                    td.admin-tbl__td.admin-tbl__category Category 1
                    td.admin-tbl__td.admin-tbl__author Author 1
                    td.admin-tbl__td.admin-tbl__staff Staff 1
                    td.admin-tbl__td.admin-tbl__action
                      .admin-tbl__btnwrap
                        a.admin-button.admin-button--green.admin-tbl__btn(href="#!") View
                        a.admin-button.admin-button--violet.admin-tbl__btn(href="#!") Edit
                        a.admin-button.admin-button--red.admin-tbl__btn(href="#!") Delete
            +admin-pagination
    script(src="js/main.js")
