mixin admin-signup
  .admin-user
    .admin-user__wrap
      a.admin-user__logo(href="")
        img.admin-user__image(src="../../images/logo-admin.png", alt="")
      .admin-user__main
        p.admin-user__text Sign up to your Adcourant Account
        .admin-user__form
          input.admin-user__form-item.admin-user__input(type="text" placeholder="User name")
          input.admin-user__form-item.admin-user__input(type="text" placeholder="Email")
          input.admin-user__form-item.admin-user__input.admin-user__input--password(type="password" placeholder="Password")
          label.admin-user__form-item.admin-user__label.js-label
            input.admin-user__checkbox(type="checkbox")
            | Agree the terms and policy
          button.admin-user__form-item.admin-user__button.admin-button Signup
      .admin-user__forgot
        p.admin-user__text.admin-user__text--account
          | Already have an Account?
          a.admin-user__link(href="") Signin
